.view_loading {
  position: relative;
  color: var(--foreground-dimmest);

  /* these are also overriden in colorway and interactive for potentially more sensible defaults */
  --view-loading-low-pulse: var(--outline-dimmest);
  --view-loading-high-pulse: var(--surface-interactive-background);
}

.view_loading_foreground {
  animation: loading 2s linear infinite;
  background: linear-gradient(
    90deg,
    var(--view-loading-low-pulse),
    var(--view-loading-high-pulse),
    var(--view-loading-low-pulse),
    var(--view-loading-high-pulse)
  );
  background-position-x: 0%;
  background-size: 300% 100%;
}

.view_loading_background {
  overflow: hidden;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    animation: loading 2s linear infinite;
    background: linear-gradient(
      90deg,
      var(--view-loading-low-pulse),
      var(--view-loading-high-pulse),
      var(--view-loading-low-pulse),
      var(--view-loading-high-pulse)
    );
    background-position-x: 0%;
    background-size: 300% 100%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
  }
}

@keyframes loading {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}
