@layer ui-atom {
  .view {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    outline: none;
    border-style: solid;
  }
}
