@layer components {
  .radio {
    border-radius: var(--border-radius-round);
    aspect-ratio: 1 / 1;
    width: 20px;
    height: 20px;
  }

  .radio__indicator {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &::after {
      display: block;
      border-radius: var(--border-radius-round);
      background: var(--view-colorway-dimmer);
      width: 12px;
      height: 12px;
      pointer-events: none;
      content: "";
    }

    &:not([disabled], [data-disabled])::after {
      background: var(--view-colorway-default);
    }
  }

  .radio__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-8);
  }
}
