@layer components {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    padding-inline: var(--button-padding-inline);
    height: var(--button-height);
    white-space: nowrap;
  }

  .button_height_sm {
    --button-padding-inline: var(--space-12);
    --button-height: var(--space-28);
  }

  .button_height_md {
    --button-padding-inline: var(--space-16);
    --button-height: var(--space-32);
  }

  .button_height_lg {
    --button-padding-inline: var(--space-20);
    --button-height: var(--space-40);
  }

  .button_height_xl {
    --button-padding-inline: var(--space-24);
    --button-height: var(--space-48);
  }

  .button_height_2xl {
    --button-padding-inline: var(--space-28);
    --button-height: var(--space-56);
  }

  .button_height_3xl {
    --button-padding-inline: var(--space-32);
    --button-height: var(--space-64);
  }
}
