.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  box-sizing: border-box;
  border-radius: var(--border-radius-default);
  white-space: nowrap;
}

.button_height_sm {
  padding-inline: var(--space-12);
  height: var(--space-28);
}

.button_height_md {
  padding-inline: var(--space-16);
  height: var(--space-32);
}

.button_height_lg {
  padding-inline: var(--space-20);
  height: var(--space-40);
}

.button_height_xl {
  padding-inline: var(--space-24);
  height: var(--space-48);
}

.button_height_2xl {
  padding-inline: var(--space-28);
  height: var(--space-56);
}

.button_height_3xl {
  padding-inline: var(--space-32);
  height: var(--space-64);
}
