@layer components {
  .stacked-avatars {
    flex-direction: row;
    transform: translateX(0);
    padding-left: 10px;
  }

  .stacked-avatars__avatar {
    cursor: default;
    margin-left: -10px;
  }

  .stacked-avatars__avatar_color {
    border-color: var(--view-colorway-default);
  }

  .stacked-avatars__visible {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -10px;
    border: 1px solid var(--outline-dimmest);
    border-radius: var(--border-radius-round);
    background-color: var(--background-default);
    aspect-ratio: 1 / 1;
    width: var(--stacked-avatars-size);
    height: var(--stacked-avatars-size);
    overflow: hidden;
    color: var(--foreground-dimmer);
  }

  /* TODO maybe copy text size as well because rn +1 doesn't move */

  /* Size variants copied from Avatar component */
  .stacked-avatars__visible_size_sm {
    --stacked-avatars-size: var(--space-24);
  }

  .stacked-avatars__visible_size_md {
    --stacked-avatars-size: var(--space-32);
  }

  .stacked-avatars__visible_size_lg {
    --stacked-avatars-size: var(--space-40);
  }

  .stacked-avatars__visible_size_xl {
    --stacked-avatars-size: var(--space-48);
  }

  .stacked-avatars__visible_size_2xl {
    --stacked-avatars-size: var(--space-56);
  }

  .stacked-avatars__visible_size_3xl {
    --stacked-avatars-size: var(--space-64);
  }

  /* Tooltip content */
  .stacked-avatars__tooltip-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);
    padding: var(--space-8);
    width: 100%;
    max-width: var(--space-128);
  }

  .stacked-avatars__tooltip-user {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-6);
    width: 100%;
  }

  .stacked-avatars__tooltip-text {
    flex: 1 1 auto;
  }
}
