@layer components {
  .pill {
    flex-shrink: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    border-radius: var(--border-radius-round) !important;
    padding-right: var(--space-8);
    padding-left: var(--space-8);
    height: var(--space-24);
    font-size: var(--font-size-small);
    user-select: none;
    white-space: nowrap;
  }

  .pill_icon_left {
    padding-left: var(--space-4);
  }

  .pill_icon_right {
    padding-right: var(--space-4);
  }
}
