/* stylelint-disable no-descending-specificity, max-nesting-depth */

/* TODO make this not so bad... ignoring for now because variants are easiest with nesting */

@layer components {
  .tabs {
    gap: var(--space-8);
  }

  .tabs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Default variant */
  .tabs_variant_default {
    .tabs__list {
      box-shadow: inset 0 -1px 0 var(--surface-interactive-border);
    }

    .tabs__separator {
      height: var(--space-16);
    }

    .tabs__trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: 0;
      border-bottom-width: 1px;
      border-color: var(--surface-interactive-border);
      border-radius: var(--border-radius-default) var(--border-radius-default) 0
        0;
      height: calc(var(--space-32) + var(--space-4));
    }

    .tabs__trigger[data-active] {
      border-color: var(--foreground-dimmer);
    }

    .tabs__trigger:not([disabled], [data-disabled]):active {
      border-color: var(--primary-default);
    }
  }

  /* Progress variant */
  .tabs_variant_progress {
    .tabs__list {
      justify-content: space-between;
      gap: var(--space-8);
    }

    .tabs__separator {
      display: inline-block;
      flex-shrink: 1;
      width: var(--space-16);
    }

    .tabs__trigger {
      position: relative;
      flex-wrap: nowrap;
      gap: var(--space-4);
      transition-property: none;
      user-select: none;
    }

    .tabs__trigger[data-active] {
      background-color: var(--surface-interactive-background);
    }

    .tabs__trigger-complete {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(var(--space-6), calc(-1 * var(--space-6)));
      border-radius: var(--border-radius-default);
      background-color: var(--positive-dimmest);
      aspect-ratio: 1 / 1;
    }
  }

  /* Button group variant */
  .tabs_variant_button-group {
    .tabs__trigger {
      transition-property: background-color, box-shadow;
      border-radius: 0;
    }

    .tabs__trigger:first-child {
      border-top-left-radius: var(--border-radius-default);
      border-bottom-left-radius: var(--border-radius-default);
    }

    .tabs__trigger:last-child {
      border-top-right-radius: var(--border-radius-default);
      border-bottom-right-radius: var(--border-radius-default);
    }

    .tabs__trigger:not([disabled], [data-disabled]) {
      background-color: var(--surface-interactive-background);

      @media (hover: hover) {
        &:hover {
          background-color: var(--surface-interactive-background-active);
        }
      }
    }

    /* TODO: make this not repetitive */

    /* Copied from view colorway. */
    .tabs__trigger[data-active] {
      background-color: var(--view-colorway-dimmest);
      color: var(--view-colorway-default);

      &:not([disabled], [data-disabled]) {
        background-color: var(--view-colorway-dimmer);
        color: var(--view-colorway-strongest);

        &:focus {
          box-shadow: 0 0 0 2px var(--view-colorway-stronger);

          &:not(:focus-visible) {
            box-shadow: none;
          }
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--view-colorway-default);
          }
        }
      }
    }
  }
}
