.alert-dialog__backdrop {
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: var(--background-overlay);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }
}

.alert-dialog__popup {
  display: block;
  position: fixed;
  z-index: 51;
  inset: 0;
  isolation: isolate;
  padding: var(--space-16);
  height: 100%;
  overflow: auto;
}

.alert-dialog__popup_centered {
  display: flex;
  place-items: center;

  @media screen and (width >= 512px) {
    padding: var(--space-32);
    padding-top: var(--space-64);
    padding-bottom: var(--space-64);
  }
}

.alert-dialog__content {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  gap: var(--space-16);
  margin: 0 auto;
  outline: none;
  box-shadow: var(--shadow-2);
  border: 1px solid var(--background-highest);
  border-radius: var(--border-radius-default);
  padding: var(--space-16);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.alert-dialog__content_width_sm {
  max-width: 384px;
}

.alert-dialog__content_width_md {
  max-width: 512px;
}

.alert-dialog__content_width_lg {
  max-width: 872px;
}

.alert-dialog__header {
  gap: var(--space-4);
}

.alert-dialog__actions {
  flex-direction: row;
  justify-content: end;
  gap: var(--space-8);
}
