@layer component {
  .anchor {
    cursor: pointer;
    color: var(--primary-stronger);
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;

    &:visited {
      color: var(--primary-stronger);
    }
  }
}
