@layer components {
  .context-menu {
    gap: var(--space-4);
    box-shadow: var(--shadow-1);
    border: 1px solid var(--outline-dimmest);
    border-radius: var(--border-radius-default);
    padding: var(--space-4);
    user-select: none;
  }

  .context-menu__item {
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: var(--space-4);
    outline: none;
    border: none;
    border-radius: var(--border-radius-6);
    padding: var(--space-2) var(--space-4);
    padding-left: var(--space-24);
  }

  .context-menu__item-icon {
    position: absolute;
    top: 50%;
    left: var(--space-4);
    transform: translateY(-50%);
  }

  .context-menu__item-shortcut {
    margin-left: auto;
    letter-spacing: 0.1em;
  }

  .context-menu__label {
    padding: var(--space-2) var(--space-4);
  }
}
