@layer components {
  .password-input__root {
    position: relative;
  }

  .password-input__eye {
    position: absolute;
    top: 50%;
    right: var(--space-2);
    transform: translateY(-50%);
  }
}
