@layer components {
  .meter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--space-4);
  }

  .meter__value {
    grid-column-start: 2;
    margin: 0;
    text-align: right;
  }

  .meter__track {
    grid-column: 1 / 3;
    background-color: var(--surface-interactive-border);
    height: var(--space-8);
    overflow: hidden;
  }

  .meter__indicator {
    transition: width var(--transition-duration-chill);
    background-color: var(--view-colorway-default);
  }
}
